@page
@model HolidayChecklist.Pages.TVShows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].First_Air_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVShow[0].Backdrop_Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TVShow) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Air_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backdrop_Path)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
